<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New REstaurant</title>
</head>

<body>
    <h1>Create a new Restaurant</h1>
    <form action="/restaurants" method="POST">
        <div>
            <label for="name">Restaurant Name</label>
            <input type="text" id="name" name="restaurant[name]">
        </div>
        <div>
            <label for="location">Restaurant Location</label>
            <input type="text" id="location" name="restaurant[location]">
        </div>
        <button>Submit</button>
    </form>
    <div>
        <a href="/restaurants">Go back to all the restaurants</a>
    </div>
</body>

</html>