<% layout("./layout/boilerplate") %>
<h1 class="text-center">Create a new Restaurant</h1>
<div class="w-3/4 md:w-1/2 mx-auto col-6 offset-3">
    <form class="needs-validation" action="/restaurants" method="POST" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="restaurant[name]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Restaurant Location</label>
            <input class="form-control" type="text" id="location" name="restaurant[location]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Restaurant Price</label>
            <select class="form-control" name="restaurant[price]" id="price" required>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Restaurant Description</label>
            <input class="form-control" type="text" id="description" name="restaurant[description]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="dateOpened">Restaurant Open Date</label>
            <input class="form-control" type="text" id="dateOpened" name="restaurant[dateOpened]" required>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Restaurant Images</label>
            <input class="form-control" type="file" id="formFile" name="image" multiple>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
    <a href="/restaurants">Go back to all the restaurants</a>
</div>